

.barraNavegacion{
	background-color: #573635 !important;

}

#img_logo_barraN{
	width: 40px !important;
}

/*#titulo_barraN{
	font-family: caviar_dreamsregular;
	font-size: 1.3em;
}

#enlaces_barraN{
	font-family: pek_komik_sansmedium;
}*/

